*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 200% 200%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

body{
    background: white;
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
}

form{
    margin: 10px 0;
}

.product{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
}